<a class="trending-article-block" href="{{anchor}}">
  <div class="content">
    <h3 class="title">{{title}}</h3>
    <p class="meta-data">
      {{date}}
      {{#if article-type}}
      &middot; {{article-type}}
      {{/if}}
      {{#if author}}
      &middot; {{author}}
      {{/if}}
    </p>
  </div>
  <div class="image">
    <img src="{{image}}" alt="{{image-alt-text}}" />
  </div>
</a>