{{#> main }}

<section class="poc-wrapper m-8 pb-8 pt-8 pl-8 bg-lightPeach">
  <h4 class="font-cooper text-fs5 mb-2">Same component with variants</h4>
  <div class="poc-wrapper flex">
    <div class="poc-wrapper mr-2">
      {{> button text="Button" class="btn-primary"}}
    </div>
    <div class="poc-wrapper mr-2">
      {{> button text="Button" class="btn-secondary"}}
    </div>
  </div>
</section>

<section class="poc-wrapper m-8 pb-8 pt-8 pl-8 bg-lightPeach">
  <h4 class="font-cooper text-fs5 mb-6">Building component with composing styles</h4>
  <div style="width: 370px;">
    {{> trending-article 
      title="Dhirendra Kumar's favourite ELSS funds"
      image="placeholder-cover.png"
      anchor="#"
      image-alt-text="ELSS funds"
      date= "26 Mar '19"
      article-type= "Interview"
      author= "Dhirendra Kumar"
    }}
  </div>
</section>

<section class="poc-wrapper m-8 pb-8 pt-8 pl-8 bg-lightPeach">
  <h4 class="font-cooper text-fs5 mb-10">Repeating components</h4>
  <div class="flex flex-wrap container">
    <div class="w-2/3">
      <div class="flex flex-wrap">
        {{#each articles}}
        <div class="w-1/2 pr-8 mb-5">
          {{> trending-article 
          title=this.title
          image=this.image
          image-alt-text=this.image-alt-text
          date=this.date
          article-type=this.article-type
          author=this.author
      }}
        </div>
        {{/each}}
      </div>
    </div>
    <div class="w-1/3"></div>
  </div>
</section>

{{/main}}