@tailwind base;

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), local("IBMPlexSans"),
    url("../static/fonts/IBMPlexSans.woff2") format("woff2"),
    url("../static/fonts/IBMPlexSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cooper Lt BT";
  src: local("Cooper Light BT"), local("CooperBT-Light"),
    url("../static/fonts/CooperBT-Light.woff2") format("woff2"),
    url("../static/fonts/CooperBT-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans SemiBold"), local("IBMPlexSans-SemiBold"),
    url("../static/fonts/IBMPlexSans-SemiBold.woff2") format("woff2"),
    url("../static/fonts/IBMPlexSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@tailwind components;

@tailwind utilities;

//////////////////////////////////////////////////////
// FOR DEMO PURPOSE, ALL STYLING IS ADDED IN ONE FILE
//////////////////////////////////////////////////////

// Buttons
.btn-base {
  padding: 10px 15px;
  outline: none;
  @apply font-ibmPlexSans font-semibold;
  @apply transition-all duration-100 ease-linear;
  &:hover {
    box-shadow: 5px 5px 0px 0px theme("colors.black.10");
    transform: translate(-5px, -5px);
  }
  &:active {
    transform: translate(0px, 0px);
    box-shadow: 0px 0px 0px 0px theme("colors.black.10");
  }
  &:focus {
    outline: none;
  }

  &[disabled] {
    @apply bg-blue-5;
  }
}

.btn-primary {
  @extend .btn-base;
  border: 1px solid theme("colors.black.25");
  @apply bg-blue-1 text-white-100;
  &:active {
    @apply bg-blue-2;
  }
}

.btn-secondary {
  @extend .btn-base;
  border: 1px solid theme("colors.blue.1");
  @apply bg-transparent text-blue-1;
  &:active {
    @apply bg-blue-7;
  }
}

// Trending article block
// max-width is only for demo purpose. When building pages, size will depend on layouts
.trending-article-block {
  padding-bottom: 20px;
  border-bottom: 1px dashed theme("colors.black.25");
  @apply flex justify-between;
  .content {
    padding-right: 30px;
    @apply flex flex-col justify-between;
  }
  .title {
    @apply font-cooper text-fs6;
    @apply transition duration-100 ease-linear;
  }
  .meta-data {
    @apply font-ibmPlexSans text-fs7 text-black-60;
  }
  .image {
    width: 70px;
    @apply flex-shrink-0;
    img {
      width: 100%;
    }
  }
  &:hover {
    .title {
      @apply text-blue-1;
    }
  }
}
